<div class="row"><div class="col-md-12"><div class="panel panel-success"><div class="panel-heading "><h3 class="panel-title">HTML Table Preview</h3></div>
<table border=1 class="table table-striped table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">id</th>
<th title="Field #2">title</th>
<th title="Field #3">date</th>
<th title="Field #4">journal</th>
</tr></thead>
<tbody><tr><td align="right">1</td>
<td>A 44-year-old man with erythema of the face diphenhydramine, neck, and chest, weakness, and palpitations</td>
<td>01/01/2019</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td align="right">2</td>
<td>An evaluation of benadryl, pyribenzamine, and other so-called diphenhydramine antihistaminic drugs in the treatment of allergy.</td>
<td>01/01/2019</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td align="right">3</td>
<td>Diphenhydramine hydrochloride helps symptoms of ciguatera fish poisoning.</td>
<td>02/01/2019</td>
<td>The Journal of pediatrics</td>
</tr>
<tr><td align="right">4</td>
<td>Tetracycline Resistance Patterns of Lactobacillus buchneri Group Strains.</td>
<td>01/01/2020</td>
<td>Journal of food protection</td>
</tr>
<tr><td align="right">5</td>
<td>Appositional Tetracycline bone formation rates in the Beagle.</td>
<td>02/01/2020</td>
<td>American journal of veterinary research</td>
</tr>
<tr><td align="right">6</td>
<td>Rapid reacquisition of contextual fear following extinction in mice: effects of amount of extinction, tetracycline acute ethanol withdrawal, and ethanol intoxication.</td>
<td>2020-01-01</td>
<td>Psychopharmacology</td>
</tr>
<tr><td align="right">7</td>
<td>The High Cost of Epinephrine Autoinjectors and Possible Alternatives.</td>
<td>01/02/2020</td>
<td>The journal of allergy and clinical immunology. In practice</td>
</tr>
<tr><td align="right">8</td>
<td>Time to epinephrine treatment is associated with the risk of mortality in children who achieve sustained ROSC after traumatic out-of-hospital cardiac arrest.</td>
<td>01/03/2020</td>
<td>The journal of allergy and clinical immunology. In practice</td>
</tr>
</tbody></table>
</div></div></div>