<div class="row"><div class="col-md-12"><div class="panel panel-success"><div class="panel-heading "><h3 class="panel-title">HTML Table Preview</h3></div>
<table border=1 class="table table-striped table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">atccode</th>
<th title="Field #2">drug</th>
</tr></thead>
<tbody><tr><td>A04AD</td>
<td>DIPHENHYDRAMINE</td>
</tr>
<tr><td>S03AA</td>
<td>TETRACYCLINE</td>
</tr>
<tr><td>V03AB</td>
<td>ETHANOL</td>
</tr>
<tr><td>A03BA</td>
<td>ATROPINE</td>
</tr>
<tr><td>A01AD</td>
<td>EPINEPHRINE</td>
</tr>
<tr><td>6302001</td>
<td>ISOPRENALINE</td>
</tr>
<tr><td>R01AD</td>
<td>BETAMETHASONE</td>
</tr>
</tbody></table>
</div></div></div>