<div class="row"><div class="col-md-12"><div class="panel panel-success"><div class="panel-heading "><h3 class="panel-title">HTML Table Preview</h3></div>
<table border=1 class="table table-striped table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">id</th>
<th title="Field #2">scientific_title</th>
<th title="Field #3">date</th>
<th title="Field #4">journal</th>
</tr></thead>
<tbody><tr><td>NCT01967433</td>
<td>Use of Diphenhydramine as an Adjunctive Sedative for Colonoscopy in Patients Chronically on Opioids</td>
<td>1 January 2020</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td>NCT04189588</td>
<td>Phase 2 Study IV QUZYTTIR™ (Cetirizine Hydrochloride Injection) vs V Diphenhydramine</td>
<td>1 January 2020</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td>NCT04237091</td>
<td>Feasibility of a Randomized Controlled Clinical Trial Comparing the Use of Cetirizine to Replace Diphenhydramine in the Prevention of Reactions Related to Paclitaxel</td>
<td>1 January 2020</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td>NCT04153396</td>
<td>Preemptive Infiltration With Betamethasone and Ropivacaine for Postoperative Pain in Laminoplasty or \xc3\xb1 Laminectomy</td>
<td>1 January 2020</td>
<td>Hôpitaux Universitaires de Genève</td>
</tr>
<tr><td>NCT03490942</td>
<td>Glucagon Infusion in T1D Patients With Recurrent Severe Hypoglycemia: Effects on Counter-Regulatory Responses</td>
<td>25/05/2020</td>
<td>Journal of emergency nursing</td>
</tr>
<tr><td>NCT04188184</td>
<td>Tranexamic Acid Versus Epinephrine During Exploratory Tympanotomy</td>
<td>27 April 2020</td>
<td>Journal of emergency nursing\xc3\x28</td>
</tr>
</tbody></table>
</div></div></div>